html,
body {
    padding: 0;
    margin: 0;
}

input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #BBB;
    font-family: Helvetica, sans-serif;
    padding-bottom: 100px;
}

h1 {
    text-align: center;
    background-color: #ccb9da;
}

h2,
h3 {
    margin: 0 0 .75em 0;
}


/* first example */


/*PARENT*/

.column-layout {
    display: flex;
    max-width: 1300px;
    background-color: #FFF;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
}


/*FLEX02 exercise, plese insert the CSS codes here*/


/*CHILD*/

.main-column {
    flex: 4;
    order: 2;
}

.sidebar-one {
    flex: 1;
    order: 1;
}

.sidebar-two {
    flex: 1;
    order: 3;
}


/*end FLEX02*/


/* second example */

.equal-height-container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 900px;
    margin: 0 auto;
}

.first {
    flex: 4;
    order: 2;
    background-color: #FFF;
    padding: 20px;
}

.second {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    order: 1;
    background-color: yellow;
}

.second-a {
    /*text-align: center;*/
    padding: 50%;
    background-color: #c0dbe2;
}

.second-b {
    /*text-align: center; */
    padding: 50%;
    background-color: #cdf1c3;
}