#movieList {
    display: flex;
    flex-flow: row wrap;
}

.movie-div {
    padding: 12px 24px;
    margin: 12px 6px;
    box-shadow: 1px 1px 5px lightgrey;
    border-radius: 10px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.02);
}

.movie-title {
    margin: 0px;
}

.movie-genre {
    margin: 0px 0px 0px 0px;
}

.movie-price {
    margin: 12px 0px 0px 0px
}